<div>
  <img src="assets/img/lelija.jpg">
  <h1>{{preke.pavadinimas}}</h1>
  <ng-container *ngIf="preke.nuolaida===true">
    <img src="assets/img/Nuolaida.jpg">
  </ng-container>
  <div>
    Kaina: {{preke.kaina}} EUR<br>
    Perkamas kiekis: {{preke.kiekis}}<br>
    Bendra suma: {{preke.kiekis * preke.kaina}} EUR
  </div>
  <div><img src="assets/img/{{preke.image}}"></div>
  <div>
    <button (click)="preke.pridetiKieki()">
      Įdėti į krepšelį.
    </button>
    <button (click)="preke.atimtiKieki()" [disabled]="preke.kiekis === 0">Išimti iš krepšelio.
    </button>

    <div>
    </div>
